@model IEnumerable<Demo1.Models.HOPDONGLAODONG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin1.cshtml";
}

<h2>DANH SÁCH HỢP ĐỒNG</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NHANVIEN.HOTEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LOAIHOPDONG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NGAYKY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NGAYHETHAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LUONGCOBAN)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NHANVIEN.HOTEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LOAIHOPDONG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NGAYKY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NGAYHETHAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LUONGCOBAN)
        </td>

        <td>
            @Html.ActionLink("Sửa", "Edit", new { id = item.MAHOPDONG }) 
        </td>
    </tr>
}

</table>
